

  <div class="container">
    <div class="page-header">
        <h1>Welcome..!!</h1>
    </div>
    <div class="row">
    	<div class="col-md-8">
            <div class="panel with-nav-tabs panel-default">
                <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab1default" data-toggle="tab">Default 1</a></li>
                            <li><a href="#tab2default" data-toggle="tab">Default 2</a></li>
                            <li><a href="#tab3default" data-toggle="tab">Default 3</a></li>
                            <li><a href="#tab4default" data-toggle="tab">Default 4</a></li>
                        </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab1default">
                          <div id="chart-container">
                            <%= @chart.render() %>
                          </div>
                        </div>
                        <div class="tab-pane fade" id="tab2default">Default 2</div>
                        <div class="tab-pane fade" id="tab3default">Default 3</div>
                        <div class="tab-pane fade" id="tab4default">Default 4</div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
              <h2>Betting Histroy</h2>
              <% if @user_tradings.present? %>
                <% @user_tradings.each do |trading| %>
                  <%= trading.assets_name %>
                  <%= trading.strike_rate %>
                  <%= trading.status %>
                  <%= trading.closing_rate %>
                  $<%= trading.investment %>
                  $<%= trading.payout %>
                  <%= trading.created_at %></br>
                <% end %>
              <% end %>
            </div>
        </div>
        <div class="col-md-4">
          <h2>Wallet</h2>
          <% if @user_accounts.present? %>
            <% @user_accounts.each do |account| %>
              <%= account.user.id %>
              <%= account.user_name %>
              $<%= account.wallet_amount %></br>
            <% end %>
          <% end %>
        </div>
	    </div>
    </div>
