<div class="container">
  <div class="page-header">
    <h1>Welcome..!!</h1>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="card">
        <div class="card-header">
          <h4>Default Tab</h4>
        </div>
        <div class="card-body">
          <div class="default-tab">
            <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <% @services.each_with_index do |service, index|%>
                  <a class="nav-item nav-link <%= 'active' if index == 0 %>" id="nav-<%= service.name.parameterize %>-tab" data-toggle="tab" href="#nav-<%= service.name.parameterize %>" role="tab" aria-controls="nav-<%= service.name.parameterize %>" aria-selected="<% index == 0 ? 'true' : 'false' %>"><%= service.name %></a>
                <% end %>
              </div>
            </nav>
            <div class="tab-content pl-3 pt-2" id="nav-tabContent">
              <% @services.each_with_index do |service, index|%>
                <div class="tab-pane fade show <%= 'active' if index == 0 %>" id="nav-<%= service.name.parameterize %>" role="tabpanel" aria-labelledby="nav-<%= service.name.parameterize %>-tab">
                  <div class="row chart-wallet">
                    <div class="col-lg-7 col-md-12">
                      <%= render partial: 'home/chart', locals: { service: service } %>
                    </div>
                    <div class="col-lg-5 col-md-12">
                      <%= render partial: 'home/wallet', locals: { service: service } %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12 col-xl-7">
                      <%= render partial: 'home/betting', locals: { service: service } %>
                    </div>
                    <div class="col-lg-12 col-xl-5">
                      <%= render partial: 'home/control_ui', locals: { service: service } %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  $(document).ready(function() {
   '<% @services.each_with_index do |service, index|%>'
      $('#bootstrap-data-table-wallet-<%= service.name.parameterize %>').DataTable({responsive: true, dom: "<'row'<'col-sm-12'l><'col-sm-6'f>>"});
      // $('#bootstrap-data-table-betting-<%= service.name.parameterize %>').DataTable({responsive: true});

      var table<%= index %> = $('#bootstrap-data-table-betting-<%= service.name.parameterize %>').DataTable({
        "scrollX": true,
        responsive: true,
          "columnDefs": [
              { "visible": false, "targets": 0 }
          ],
          "order": [[ 0, 'asc' ]],
          "displayLength": 25,
          "drawCallback": function ( settings ) {
              var api<%= index %> = this.api();
              var rows<%= index %> = api<%= index %>.rows( {page:'current'} ).nodes();
              var last<%= index %> = null;

              api<%= index %>.column(0, {page:'current'} ).data().each( function ( group, i ) {
                  if ( last<%= index %> !== group ) {
                      $(rows<%= index %>).eq( i ).before(
                          '<tr class="group"><td colspan="6">'+group+'</td></tr>'
                      );

                      last<%= index %> = group;
                  }
              } );
          }
      } );

      // Order by the grouping
      $('#bootstrap-data-table-betting-<%= service.name.parameterize %> tbody').on( 'click', 'tr.group', function () {
          var currentOrder = table<%= index %>.order()[0];
          if ( currentOrder[0] === 2 && currentOrder[1] === 'asc' ) {
              table<%= index %>.order( [ 2, 'desc' ] ).draw();
          }
          else {
              table<%= index %>.order( [ 2, 'asc' ] ).draw();
          }
      } );

   '<% end %>'
  });

</script>
