<body class="bg-dark">
  <div class="sufee-login d-flex align-content-center flex-wrap">
      <div class="container">
          <div class="login-content">
              <div class="login-logo">
                  <h2>Change your password</h2>
              </div>
              <div class="login-form">
                <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
                  <%= devise_error_messages! %>
                  <%= f.hidden_field :reset_password_token %>
                  <div class="form-group">
                      <label>New Password</label>
                      <% if @minimum_password_length %>
                        <em>(<%= @minimum_password_length %> characters minimum)</em><br />
                      <% end %>
                      <%= f.password_field :password, autocomplete: "off", autofocus: true, class:"form-control", placeholder:"Password" %>
                  </div>
                  <div class="form-group">
                      <label>Confirm new password</label>
                      <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control", placeholder:"Password Confirmation" %>
                  </div>
                      <div class="checkbox">
                        <label class="pull-right">
                            <%= render "users/shared/links" %>
                        </label>
                      </div>
                      <%= f.submit "Change my password", class:"btn btn-primary btn-flat m-b-15" %>
                  <% end %>
              </div>
          </div>
      </div>
  </div>
</body>
