<body class="bg-dark">
  <div class="sufee-login d-flex align-content-center flex-wrap">
      <div class="container">
          <div class="login-content">
              <div class="login-logo">
                  <h2>Forgot your password</h2>
              </div>
              <div class="login-form">
                  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
                    <%= devise_error_messages! %>
                      <div class="form-group">
                          <label>Email address</label>
                          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder:"Email" %>
                      </div>
                      <div class="checkbox">
                        <label class="pull-right">
                            <%= render "users/shared/links" %>
                        </label>
                      </div>
                      <%= f.submit "Submit", class:"btn btn-primary btn-flat m-b-15" %>

                  <% end %>
              </div>
          </div>
      </div>
  </div>
</body>
