
<div class="content mt-3">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-header">
          <strong>My Profile</strong>
        </div>
        <%= form_for(resource, as: resource_name, url: user_registration_path(id: resource.id), html: { method: :put }) do |f| %>
          <div class="card-body card-block">

              <div class="form-group">
                <%= f.label :first_name, class: "form-control-label" %><br />
                <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: "form-control" %>
                <span class="help-block error"> <%= resource.errors.full_messages_for(:first_name)[0] if resource.errors.full_messages_for(:first_name).present? %> </span>
              </div>

              <div class="form-group">
                <%= f.label :last_name, class: "form-control-label" %><br />
                <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class: "form-control" %>
                <span class="help-block error"> <%= resource.errors.full_messages_for(:last_name)[0] if resource.errors.full_messages_for(:last_name).present? %> </span>
              </div>

              <div class="form-group">
                <%= f.label :username , class: "form-control-label"%><br />
                <%= f.text_field :username, autofocus: true, autocomplete: "username", class: "form-control" %>
                <span class="help-block error"> <%= resource.errors.full_messages_for(:username)[0] if resource.errors.full_messages_for(:username).present? %> </span>
              </div>

              <div class="form-group">
                <%= f.label :email, class: "form-control-label" %>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Enter Email..." %>
                <span class="help-block error"> <%= resource.errors.full_messages_for(:email)[0] if resource.errors.full_messages_for(:email).present? %> </span>
              </div>
              <div class="form-group">
                <%= f.label :password, class: "form-control-label" %> <i>(leave blank if you don't want to change it)</i><br />
                <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Enter your Password..." %>
                <span class="help-block error"><%= resource.errors.full_messages_for(:password)[0] if resource.errors.full_messages_for(:password).present? %></span>
                <% if @minimum_password_length %>
                  <br />
                  <em><%= @minimum_password_length %> characters minimum</em>
                <% end %>
              </div>

              <div class="form-group">
                <%= f.label :password_confirmation, class: "form-control-label" %><br />
                <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Confrim Password..." %>
                <span class="help-block error"><%= resource.errors.full_messages_for(:password_confirmation)[0] if resource.errors.full_messages_for(:password_confirmation).present? %></span>
              </div>

              <div class="form-group">
                <%= f.label :current_password, class: "form-control-label" %> <i>(we need your current password to confirm your changes)</i><br />
                <%= f.password_field :current_password, autocomplete: "off", class: "form-control", placeholder: "Enter your current Password..." %>
                <span class="help-block error"><%= resource.errors.full_messages_for(:current_password)[0] if resource.errors.full_messages_for(:current_password).present? %></span>
              </div>

          </div>
          <div class="card-footer">
            <%= button_tag type: 'submit', class: "btn btn-primary btn-sm" do %>
              <i class="fa fa-dot-circle-o"></i> Update
            <% end %>

            <%= link_to root_path, class: "btn btn-danger btn-sm" do %>
              <i class="fa fa-ban"></i> Cancel
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
